* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.error-text {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 3px;
}

.success-text {
  color: #4caf50;
  font-size: 0.75rem;
  margin-top: 3px;
}